{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Voyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Univers</th>
                <th>Price</th>
                <th>Img</th>
                <th>Categorie(s)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.name }}</td>
                <td>{{ voyage.reference }}</td>
                <td>{{ voyage.univers.name }}</td>
                <td>{{ voyage.price }}</td>
                <td>{{ voyage.img }}</td>
                 <td>  
                {% for category in voyage.categories %}
                    {{category.name }}   
                {% endfor %}                 
                </td>
                <td>
                    <a href="{{ path('voyage_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voyage_new') }}">Create new</a>
{% endblock %}
